html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
figcaption,
figure,
main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details,
menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* to change icon size, change <i> font-size; same w/ color */

/* MOBILE ORIENTED WRAPPER */
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 700px;
}

html{
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: block;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.1s linear;
}

a:hover,
a:focus {
    opacity: 0.7;
}

body {
    font-size: 100%;
    color: #222;
    min-width: 420px;
    font-family: "Roboto", sans-serif;
    background-color: #fefae0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1, 
button{
    font-family: "Lora", serif;
    font-weight: 500;
}

h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 1;
    order: 100;
}

h2 {
    font-size: 2.5rem;
    /* margin-bottom: 20px; */
}

h3,
li {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.25px;
    margin: 10px 0 20px 0;
}

i{
    font-size: 2rem;
}

/* =================HEADER========================= */

header {
    padding: 80px 0 20px 0;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navAndDarkMode {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    top: 0px;
    background: rgba(254, 250, 224, 1);
    z-index: 100;
    transition: top 0.3s ease-in;
}

.navAndDarkMode .wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

/* PUT SOLID BACKGROUND TO COVER OVER THE TOP BORDER OF nal ul */
.navAndDarkMode button {
    border: none;
    background: rgba(254, 250, 224, 1);
    border-radius: 0;
    padding: 10px 0 10px 20px;
}

.navAndDarkMode i {
    transition: transform 0.2s ease-out;
    cursor: pointer;
}


/* WORK FIRST TIME, BUT WHEN CLICKED ONCE DOESNT WORK AGAIN */
/* .navAndDarkMode button:focus,
.navAndDarkMode button:focus-within, */
.navAndDarkMode i:hover {
    transform: translate(5px, 0);
}

nav ul {
    position: fixed;
    padding-top: 30px;
    right: 10%;
    background-color: rgba(254, 250, 224, 0.97);
    border: 3.5px solid rgba(0, 0, 0, 0.9);
    border-top: none;
    border-radius: 25px 0 20px 10px;
    top: -300px;
    /* color: transparent; */
    transition: color 0.02s ease-in, top 0.3s ease-out, border 0.2s ease-out;
    z-index: -100;
    /* border: transparent 0px solid; */
}

/* so when wrapper reach a max-width of 700px dropdown menu still appears to stay inline with the wrapper*/
@media (min-width: 894px) {
    nav ul {
        right: calc((100% - 700px) / 2);
    }
}

nav li {
    padding: 10px 15px;
    width: 100%;
    text-align: right;
}

nav li:hover,
nav li:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.nameAndTitle {
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

.nameAndTitle h3 {
    font-size: 1.75rem;
    order: 10;
}

.introBlurbAndSocialIcons h4 {
    width: 280px;
}

.introBlurbAndSocialIcons button{
    /* font-weight: bold; */
    font-style: italic;
    font-size: 1.1rem;
    /* padding: 5px 10px 10px 10px;
    border: solid 5px #222;
    border-top: none;
    border-radius: 0 0 15px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; */
    /* color: #fefae0; */
    /* background-color: rgba(0, 0, 0, 0.2); */
    margin: 25px 25px 0 0;
    border: #222 solid 3px;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
    width: 150px;
    transition: all 0.2s linear;
}

.introBlurbAndSocialIcons button:hover{
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

.introBlurbAndSocialIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 2;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 550px) {
    .introBlurbAndSocialIcons {
        margin-left: 0px;
    }
}

.socialIcons {
    display: flex;
    justify-content: space-around;
    width: 230px;
    font-size: 2rem;
    margin: 20px 0 10px 0;
}

.introBlurbAndSocialIcons img,
.contact img {
    border: 6px solid #222;
    /* border-radius: 7% 10% 15% 25%; */
    border-radius: 10% 15% 15% 10%;
    max-width: 230px;
    /* margin: 30px 0; */
}

@media (min-width: 880px) {
    .introBlurbAndSocialIcons {
        margin-top: 110px;
    }
}



/* ==============PAGE INDICATOR================ */

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 3%;
    top: 35%;
    transition: all 0.25s ease-in;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 3px 5px;
    border-radius: 8px;
}

aside i {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px 0;
    /* border: 2px solid #222;
    width: 28px;
    text-align: center;
    border-radius: 50%; */
}



@media (min-width: 894px) {
    aside {
        /* top: 45%; */
        right: calc((100% - 880px) / 2);
    }
}

/* ==================MAIN====================== */


/* ================ABOUT======================= */

.toolHeader{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 250px;
    padding: 25px 15px 5px 15px;
    border-radius: 25px 25px 0 0;
    border: 7px solid #222;
    border-bottom: none;
}

.bothstacks {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}


.techstack:first-child {
    margin: 0 20px 20px 0;
}

.techstack:last-child {
    width: 60%;
}

@media (max-width: 750px) {
    .techstack:last-child {
        width: 80%;
    }
}

@media (max-width: 534px) {
    .bothstacks {
        flex-wrap: wrap;
    }

    .techstack:first-child {
        margin-right: 0px;
    }
}

.skillsGrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.skillsGrid i {
    font-size: 2.75rem;
    padding: 0 16px 25px 0;
}

/* ===============DEMOS========================= */
.demos {
    padding-bottom: 30px;
}

.demo {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 20px 0;
    border: 3.5px #222 solid;
    border-left: none;
    border-radius: 0 10px 30px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 3px;
}

@media (min-width: 600px) {
    .demo {
        padding-right: 15px;
    }
}

.titleAndLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.titleAndLinks h3 {
    max-width: 65%;
}

.titleAndLinks a {
    margin-left: 20px;
    font-size: 2rem;
}

.textAndVisual img {
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
    width: 55%;
    max-width: 250px;
    border-radius: 12px;
}

.textAndVisual video {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

hr {
    border: 2.5px solid rgba(34, 34, 34, 0.627);
    border-radius: 3px;
    width: 50%;
    margin: 2px auto;
}

.hr1 {
    margin-left: 23%;
    margin-top: 30px;
    border: 2.5px solid rgba(34, 34, 34, 0.9);
}

.hr3 {
    margin-right: 23%;
    margin-bottom: 80px;
    border: 2.5px solid rgba(34, 34, 34, 0.327);
}

/* DEBATABLE */
.styleHr {
    transform: rotate(-0deg);
}

.miscDemo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.py-yt video{
    /* transform: scale(1.1); */
}

.calc img,
.eh img {
    float: none;
    width: 100%;
    max-width: 100%;
    margin-right: 15px;
    margin-left: 0;
}

.calc img{
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}

.portfolio img{
    max-width: 170px;
}



/* .greyOut {
    background-image: linear-gradient(168deg, grey 50%, darkgrey 50%);
    cursor: default;
}

.greyOut:hover {
    background-image: linear-gradient(168deg, grey 50%, darkgrey 50%);
    color: #222;
    border: 2px solid #222;
}

.greyOut:hover,
.greyOut a:hover {
    cursor: default;
} */

/* ==================CONTACT=================== */
.contact {
    padding-bottom: 100px;
}
.contact .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h3 {
    margin-bottom: 30px;
    text-align: center;
}

.contact h4{
    margin-bottom: 50px;
    max-width: 450px;
}

/* maybe use for form element when email button is clicked */
.contactInfo {
    /* display: flex;
    flex-direction: column;
    padding: 10px 25px 25px 25px;
    padding-bottom: 0;
    border: 2px solid #222;
    border-radius: 12px;
    height: 150px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px; */
}



.contactButtons{
    min-width: 340px;
    display: flex;
    justify-content: space-around;
}

.contactInfo button {
    border: none;
    align-self: flex-end;
    background-color: #fefae0;
    border-radius: 8px;
    padding: 15px 10px;
    transition: all 0.1s ease-in;
}

a[href="mailto:longvuong@live.com"],
a[href="https://calendly.com/longvuong"] {
    border: #222 solid 2px;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}

a[href="mailto:longvuong@live.com"]:hover,
a[href="mailto:longvuong@live.com"]:focus,
a[href="https://calendly.com/longvuong"]:hover,
a[href="https://calendly.com/longvuong"]:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

/* .contact h4,
.contact label {
    font-size: 1.25rem;
}
.contact label {
    font-weight: bold;
    margin-left: 10px;
} */

/* form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #222;
    padding: 15px;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
}

form > *:not(button) {
    display: block;
} */

/* input,
textarea {
    background: transparent;
    border: 2px solid #222;
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 20px;
    resize: none;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-shadow: 4px 6px #2222229e;
} */


/* ================FOOTER===================== */
footer {
    padding: 15px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

footer .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h4 {
    font-weight: normal;
    margin: 15px 0;
}

footer a {
    font-weight: bold;
}

.footer .socialIcons {
    margin-bottom: 30px;
    flex-grow: 1;
}

@media (min-width: 967px) {
    /* footer .wrapper {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    } */

    footer h4 {
        margin: 15px 0;
    }
}

/*  ==========LANDING================== */

.landing {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #fefae0 35%, #ebe7e0 35%);
    padding: 0 15%;
    font-size: 100%;

    display: flex;
    /* max-width: 1000px; */
    justify-content: space-between;
}

.landing > * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing h1 {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 5rem;
    order: 0;
    margin-bottom: 20px;
    color: #f07f0e;
}

.landing h3 {
    margin-top: 40px;
}

.landing aside {
    max-width: 400px;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 80px;
}

.blurbSocialIconsAndHeadshot {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.landing h4 {
    font-size: 1.25rem;
    font-weight: normal;
    text-align: right;
}

.socialIconsAndHeadshot {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}

aside .socialIcons {
    flex-direction: column;
    justify-content: space-evenly;
    /* margin: 30px 0; */
    margin-right: 30px;
}

.landing img {
    align-self: flex-end;
    border: 6px solid #222;
    border-radius: 10% 15% 20% 25%;
    min-width: 250px;
    max-width: 270px;
    /* margin: 25px 0; */
}
